# Part 2: NMF and Movie Ratings

In [5]:
import os
import json
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.decomposition import NMF
from helpers.metrics import *

from scipy.sparse import coo_matrix, csr_matrix
from scipy.spatial.distance import jaccard, cosine

In [6]:
MV_users = pd.read_csv('./data/movies/users.csv')
MV_movies = pd.read_csv('./data/movies/movies.csv')
train = pd.read_csv('./data/movies/train.csv')
test = pd.read_csv('./data/movies/test.csv')

## Section 1

In [7]:
train

         uID   mID  rating
0        744  1210       5
1       3040  1584       4
2       1451  1293       5
3       5455  3176       2
4       2507  3074       5
...      ...   ...     ...
700141  1184  2916       3
700142   137  1372       5
700143   195  2514       3
700144  1676  2566       3
700145  4611  1888       1

[700146 rows x 3 columns]

## Section 2

jupter notebook main test